<div class="wrapper-profiles text-center">
  <div class="container-profiles text-center">
    <h2 class="profilesindex-title pagetitle">
      <span style="font-size: 60px; font-weight: bold;">Meet people like you!</span> <br> <span style="font-size: 35px; font-weight: lighter">Here's how much our users have in common with you:</span>
    </h2>
    <table id="profiletable">
      <% @other_users.each do |otheruser| %>
        <tr class="each-profile">
          <td class="profile-position">x</td>
          <td class="profile-table-photo">
            <% if otheruser.photo.filename.nil? %>
              <%= link_to (image_tag "anonymous.png", width: 150, height: 150), user_path(otheruser), class: "avatar" %>
            <% else %>
              <%=link_to (cl_image_tag(otheruser.photo, width: 150, height: 150, crop: :thumb, gravity: :face)), user_path(otheruser), class: "avatar"  %>
            <% end %>
          </td>
          <td class="profile-table-email">
            <% if !otheruser.username.nil? %>
              <%= otheruser.username %>
            <% else %>
              <%= otheruser.email %>
            <% end %>
          </td>
          <td class="profile-table-relevance"><%= @relevances[@other_users.index(otheruser)]%></td>
          <td class="profile-table-follow">
          <% link_to "See Movies Rank", user_path(otheruser), class: "btn btn-primary"  %>
          </td>
          <td class="profile-table-space"></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
