<% if @points.empty? %>
<!-- user hasn't rated movies -->
  <div class="container-nothing">
    <% if @user == current_user %>
      <!-- user is seeing his own page -->
      <h2><%= @user_level[2] %></h2>
      <h3><%= @user_level[3] %></h3>
      <br>
      <p class="text-center"> <%= link_to "AVALIE AGORA ", battlepage_path, class: "btn-purple"  %></p>
    <% else %>
      <!-- user is seeing someone else's page -->
      <h2><%= @user.username.nil? ? "USER #{@user.id}" : @user.username.upcase %> hasn't rated any movies yet.</h2>
    <% end %>
    </div>
<% else %>
  <div class="container">
    <% if @user == @current_user %>
      <h1>Os seus filmes preferidos</h1>
    <% else %>
      <h1>Os filmes preferidos de <%= @user.username.nil? ? "USER #{@user.id}" : @user.username.upcase %></h1>
    <% end %>
    <% i = 1 %>
    <% @points.each do |point| %>
      <div class="movie-list-item">
        <div class="name">
          <h3><%= i %>. <%= point.movie.title %></h3>
          <h5>(<%= point.movie.year %>)</h5>
        </div>
        <div class="card recommendation">
        </div>
        <% i += 1 %>
      </div>
      <% end %>
  </div>
<% end %>
