<!-- show user information -->

<% if @points.empty? %>
<!-- user hasn't rated movies -->
  <div class="container-nothing">
    <% if @user == current_user %>
      <!-- user hasn't rated movies 
        he is seeing his own page -->
      <h2><%= @user_level[2] %></h2>
      <h3><%= @user_level[3] %></h3>
      <br>
      <p class="text-center"> <%= link_to "RANK NOW ", battlepage_path, class: "btn-purple"  %></p>
    <% else %>
      <!-- user is seeing someone else's page, 
        other person hasn't rated movies -->
      <h2><%= @user.username.nil? ? "USER #{@user.id}" : @user.username.upcase %> hasn't rated any movies yet.</h2>
    <% end %>
    </div>
<% else %>
  <div class="container">
    <% if @user == @current_user %>
      <!-- user rated movies 
        is seeing his own page  -->
      <h1>Your favorite movies</h1>
      <br>
      <div class="container-purple">
        <h4>RANKING : <%= @user_level[0] %> | FILMS RATED : <%= @number_of_ratings %> </h4>      
        <br>
        <h5>NEXT RANKING : <%= @user_level[1] %></h5>
        <br>
        <h4><%= @user_level[3] %></h4>
        <br>
      </div>
    <% else %>
      <!-- user is seeing someone else's page
      user has rated movies -->
      <h1><%= @user.username.nil? ? "USER #{@user.id}" : @user.username.upcase %>'s favorite movies</h1>
      <br>
      <div class="container-purple">
        <h4>RANK: <%= @user_level[0] %> | FILMS RATED: <%= @number_of_ratings %> </h4>      
        <br>
      </div>
    <% end %>
    <% i = 1 %>
    <% @points.each do |point| %>
      <div class="movie-list-item">
        <div class="name">
          <h3><%= i %>. <%= point.movie.title %></h3>
          <h5>(<%= point.movie.year %>)</h5>
        </div>
        <div class="card recommendation">
        </div>
        <% i += 1 %>
      </div>
      <% end %>
  </div>
<% end %>
