<div class="additional-info" style="display:none;">
  <% @movie1.each do |movie| %>
    <h1 class="movie1-titles"> <%= movie.title %> </h1>
  <% end %>
  <% @movie2.each do |movie| %>
    <h1 class="movie2-titles"> <%= movie.title %> </h1>
  <% end %>
  <% @movie1.each do |movie| %>
    <h1 class="movie1-ids"> <%= movie.id %> </h1>
  <% end %>
  <% @movie2.each do |movie| %>
    <h1 class="movie2-ids"> <%= movie.id %> </h1>
  <% end %>
  <h1 id="movie1-count">0</h1>
  <h1 id="movie2-count">0</h1>
  <h1 id="movies-not-seen"></h1>
</div>

<div class="tabs">
  <a class="tab active" href="#">
    <h3>Movies</h3>
    <p>Try Now</p>
  </a>
  <a class="tab" href="#">
    <h3>Series</h3>
    <p>To Come</p>
  </a>
  <a class="tab" href="#">
    <h3>Books</h3>
    <p>To Come</p>
  </a>
  <a class="tab" href="#">
    <h3>Musics</h3>
    <p>To Come</p>
  </a>
  <a class="tab" href="#">
    <h3>Games</h3>
    <p>To Come</p>
  </a>
  <a class="tab" href="#">
    <h3>Everything</h3>
    <p>To Come</p>
  </a>
</div>


<div class="container">

  <h1 style="text-align: center">Qual é o melhor filme?</h1>
  <br>
  <div class="row">
    <div class="col-xs-6">

      <form action="/point" method="post">
        <input name="_method" type="hidden" value="patch"/>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :vote_result, 1 %>
        <input type="text" name="movie1_id" id="movie1-select1" style="display: none;">
        <input type="text" name="movie2_id" id="movie2-select1" style="display: none;">
        <input type="text" name="movies_not_seen_list" id="movies-not-seen-list1" style="display: none;">
        <div class="card poster1" id="vote1-btn" onclick="javascript:event.target.parentNode.submit();">
          <a href="#" class="btn-red card-left switch-movie" id="switchmovie1">NÃO VI</a>
          <div class="card-description">
              <div class="name">
                <h2 class="movie-title"><%= @movie1[0].title %></h2>
                <p>(<%= @movie1[0].year %>)</p>
              </div>
          </div>
        </div>
      </form>

    </div>

    <div class="col-xs-6">

      <form action="/point" method="post">
        <input name="_method" type="hidden" value="patch"/>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :vote_result, 2 %>
        <input type="text" name="movie1_id" id="movie1-select2" style="display: none;">
        <input type="text" name="movie2_id" id="movie2-select2" style="display: none;">
        <input type="text" name="movies_not_seen_list" id="movies-not-seen-list2" style="display: none;">
        <div class="card poster2" id="vote2-btn" onclick="javascript:event.target .parentNode.submit();">

          <a href="#" class="btn-red card-right switch-movie" id="switchmovie2">NÃO VI</a>
          <div class="card-description">
              <div class="name">
                <h2 class="movie-title"><%= @movie2[0].title %></h2>
                <p>(<%= @movie2[0].year %>)</p>
              </div>
          </div>
        </div>
      </form>

    </div>
</div>
</div>
